@import "../../../styles/mixins";
@import "../../../styles/colors";
@import "../../../styles/variables";

.action-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: size(3);
  background-color: $background-color;
}
