@import "../../styles/mixins";
@import "../../styles/colors";
@import "../../styles/variables";
@import "../../styles/form";

.upload {
  @extend %form-input;
  @extend %form-input--filled;
  cursor: pointer;

  div[tabindex] {
    outline: none;
  }

  label {
    cursor: pointer;
  }
}
