@import "../../../../styles/mixins";
@import "../../../../styles/colors";
@import "../../../../styles/variables";

.top-image-page-container {
  &__header {
    padding-bottom: size(3);

    &--big {
      height: 500px;
    }

    &--medium {
      height: 400px;
    }

    &--small {
      height: 250px;
    }
  }
}
