@import 'AppStyles';

.stepper {
  display: flex;
  flex-direction: column;

  &__step {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
  }

  &__step-index {
    display: flex;
    width: 45px;
    height: 45px;
    background-color: $active-color;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }
}
