@import "../../../styles/mixins";
@import "../../../styles/colors";
@import "../../../styles/variables";

.recipe-category {
  &__action-bar {

  }

  &__elements {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__element {
    width: calc(20% - 30px);
  }
}
