@import '../../node_modules/reset-css/sass/_reset.scss';
@import 'AppStyles';

#main-container {
  width: 100%;
  min-height: 100vh;
}

a {
  color: initial;
  text-decoration: none;

  &:visited, &:focus, &:hover, &:active {
      color: initial;
  }
}

* {
  box-sizing: border-box;
}