@import 'AppStyles';

$border: 1px solid $border-color;

.tabs {
  width: 100%;

  &--padding {
    .tabs__content {
      padding: size(2);
    }
  }

  &__titles {
    display: flex;
    width: 100%;
    border: $border;
    border-right: none;

    @include tablet {
      flex-direction: column;
      border-bottom: unset;
    }
  }

  &__content {
    display: flex;
    width: 100%;
    border: $border;
    border-top: none;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex: 1;
    background: $background-color;
    border-right: $border;
    padding: size(2) 0;

    @include tablet {
      flex: unset;
      width: 100%;
      border-bottom: $border;
    }
  }

  &__tab {
    display: none;
    width: 100%;

    &--active {
        display: block;
    }
  }
}