@import 'AppStyles';

.recipe-form {
  margin-bottom: size(4);

  &__header {
    height: 400px;
  }

  &__general-data {
    margin-bottom: size(3);
  }

  &__products {
    display: flex;
    justify-content: space-between;
    margin-bottom: size(3);
  }

  &__products-form {
    width: calc(50%  - #{size(3)});
  }

  &__products-list {
    width: 50%;
  }

  &__steps {
    display: flex;
    justify-content: space-between;
  }

  &__steps-form {
    width: 40%;
  }

  &__steps-list {
    width: calc(60%  - #{size(3)});
  }
}