@import 'AppStyles';

.recipe-categories-list {
    &__elements {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__element {
      width: calc(25% - #{size(3)});;
      padding-bottom: size(3);

      @media screen and (max-width: $tablet) {
        width: calc(50% - #{size(2)});
      }

      @media screen and (max-width: $mobile) {
        width: 100%;
      }
    }
}
