@import "../../styles/variables";


.icon-text {
  display: flex;
  align-items: center;
  justify-items: center;
  &--vertical{
    flex-direction: column;
  }
  &__icon {
    margin-right: 5px;
    font-size: 16px;
    &--big{
      font-size:$icon-size;
    }
  }
}
