$margin: 24px;

.recipe-category-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: calc(100% - #{$margin * 2});
  padding: $margin;

  &__form {
    width: calc(55% - 10px);
  }

  &__preview {
    width: calc(45% - 10px);
  }

}
