@import 'AppStyles';

.nav-bar {
  width: 100%;
  max-height: $nav-bar-max-height;
  background-color: $nav-bar-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  box-shadow: $box-shadow-secondary;
  position: relative;
  margin-bottom: 0.5 * $navbar-logo-height;

  &--small {
    .nav-bar__indicator {
      width: 30px;
    }

    .nav-bar__element {
      padding: 15px 5px 5px 0;
    }
  }

  &__indicator{
    position: absolute;
    left: 0;
    width: 43px;
    height: 4px;
    background-color: $active-color;
    z-index: 9999;
    display: block;
    border-radius: 30px;
  }

  &__list-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 45%;

    &--right {
      justify-content: flex-end;
    }
  }

  &__element {
    transition: all 500ms;
    padding: 20px 5px 10px 5px;
  }

  &__logo-container {
    position: relative;
    width: 10%;
    height: 100%;
  }

  &__logo {
    position: absolute;
    top: 0;
  }
}

