@import 'AppStyles';

.product-form {
  &__container {
    display: flex;
    flex-direction: column;

    &--inline {
      .product-form__row {
        flex-direction: row;
        align-items: center;

        @include mobile {
          flex-direction: column;
        }
      }
    }
  }

  &__row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: size(2);

    @include mobile {
      margin: 0;
    }

    &--hidden {
      display: none;
    }

    &--mobile-margin {
      @include mobile {
        margin-bottom: size(2);
      }
    }
  }

  &__element {
    width: calc(33% - #{size(2)});

    @include mobile {
      width: 100%;
      margin-bottom: size(1);
    }
  }
}
