@import "../../styles/mixins";
@import "../../styles/colors";
@import "../../styles/variables";
@import "../../styles/form";


.checkbox {
  &__checkbox-input {
    width: 10px;
    height: 10px;
    border: 1px solid $border-color;

    &--active {
      background-color: $background-color;
    }
  }
}
