@import 'AppStyles';

.checkbox {
  &__checkbox-input {
    width: 10px;
    height: 10px;
    border: 1px solid $border-color;

    &--active {
      background-color: $background-color;
    }
  }
}
