$active-color: #6A8185;
$inactive-color: #B6C5C8;
$background-color: #D9E2DC;
$background-color-dark: #6A8185;
$background-half-transparent: rgba(0, 0, 0, 0.3);

$shadow-color: darken($background-color, 15%);

$border-color: #654857;
$warning-color: #FB6B65;
$text-color: #FFC9C8;

$box-shadow: 3px 3px 3px 0px rgba(232,229,232,1);
$box-shadow-secondary: 0 20px 20px -15px rgba($shadow-color, .5);
$box-shadow-black: 0 20px 20px -15px black;

